%h1 Change password
= form_for user do |f|
  - if user.errors.any?
    Form is invalid
    - user.errors.full_messages do |message|
      = message
  %p= f.label :password
  %p= f.password_field :password
  %p= f.label :password_confirmation
  %p= f.password_field :password_confirmation
  .button= f.submit 'Change password'
